* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.navbar {
  position: absolute;
  background-color: #d18989;
  height: 4rem;
  width: 100%;
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}