.main_bdy {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .inner-main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 12rem 0 12rem;
    height: fit-content;
  }


  .case-type {
    width: 100%;
  }

  .case-des {
    
  }

