* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main body  */
.main {
  position: relative;
  width: 100%;
  height: auto;
}

.main-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 14rem 0 14rem;
  height: fit-content;
}

.img-container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper {
  position: relative;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.cover-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.imgText {
  font-size: 2rem;
  font-weight: 900;
  color: #cfced0;
  font-weight: 900;
  font-family: system-ui;
}

.cta-button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #a1aebf;
  border: none;
  border-radius: 20px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.cta-button:hover {
  background-color: #9191b8;
}

.descript {
  position: relative;
  display: flex;
  width: 100%;
  padding: 15px;
}

.descript h1 {
  font-family: sans-serif;
}

.text-container {
  position: relative;
  display: flex;
  padding: 12px 20px;
}

.text-container p {
  font-family: sans-serif;
}

.create {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
}

.create h2 {
  text-align: left;
  font-family: sans-serif;
}

.btn-container {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-acc-btn {
  background-color: #007bff;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 16px 24px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
  text-align: center;
}

.create-acc-btn:hover {
  background-color: #0056b3;
  transform: scale(1.02);
}
